<%-include('header');-%>
<h2>I m Kaushal and i love to code</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptas corporis asperiores, sequi omnis facere temporibus eius! Veniam molestiae voluptas aliquid. Quia laboriosam quibusdam molestiae? In et deleniti labore quam.</p>
<%-include('footer');-%>
